.content {
  @apply h-full bg-neutral-800 text-neutral-100 antialiased overflow-hidden;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: minmax(70px, auto) 1fr minmax(30px, auto);
}
