.card {
  @apply flex flex-col p-1 md:p-4 w-full md:w-2/3 rounded-md;
  @apply border-2 border-teal-600 divide-y-2 divide-teal-600;
}

.header {
  @apply text-center font-semibold my-4;
}

.infos {
  @apply list-disc p-6 flex-1;
}

.price {
  @apply text-center py-2;
}
