@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  hr {
    @apply mt-4;
  }
  input,
  textarea,
  select {
    @apply text-black;
  }
}

@tailwind components;
@tailwind utilities;

#root {
  @apply h-screen bg-neutral-800 text-neutral-100 antialiased;
}

/* SCROLL STYLE */
/* Size */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  @apply rounded-xl;
  background: #71717a;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-xl;
  background: #0d9488;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}
