@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  hr {
    @apply mt-4;
  }
  input,
  textarea,
  select {
    @apply text-black;
  }
}

@tailwind components;
@tailwind utilities;

#root {
  @apply h-screen;
}
